* {
    box-sizing: border-box;
}

/* ----------------------------------------GENERAL STYLING---------------------------------------- */

html,
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Patrick Hand', cursive;
    color: #4B2F23;
    font-size: 25px;
}

img {
    max-width: 100%;
}

.avatar {
    height: auto;
    max-width: 80%;
}

.logo {
    min-width: 280px;
    flex-shrink: 0;
}

.wrapper {
    padding: 60px 90px;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.resized {
    height: auto;
    width: fit-content;
}

.centered {
    display: block;
    margin: auto;
    margin-top: 2%;
}

.wrapper-avatar {
    padding: 10px 90px;
    padding-bottom: 0px;
}

.flex-parent {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

header {
    background-color: rgb(209, 115, 96);
}

header .wrapper {
    padding: 10px 0px;
}

.primary-nav ul {
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 20px;

}

.primary-nav ul li a.active {
    background-color: rgb(251, 228, 185);
    color: rgb(221, 46, 55);
}

.headerflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
}

.homepage-background {
    background-image: url("../images/title-backdrop2.png");
    background-size: cover;
    background-position: center;
    min-height: 70vh;
}

.main-content {
    background-color: rgb(246, 173, 128);
}

.inner-content {
    background-color: rgb(246, 205, 128);
}

.profile-content {
    background-color: rgb(53, 96, 94);
}

.spring-calendar-style {
    background-color: rgb(228, 159, 207);
}

.summer-calendar-style {
    background-color: rgb(190, 232, 144);
}

.fall-calendar-style {
    background-color: rgb(234, 161, 127);
}

.winter-calendar-style {
    background-color: rgb(142, 205, 230);
}

footer {
    background-color: rgb(66, 106, 121);
    justify-content: center;
    text-align: center;
}

footer .wrapper {
    padding: 10px 60px;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: rgb(178, 47, 53);
}

footer ul li a:hover {
    color: rgb(207, 73, 80);
}

/* -------------------------------------BOX DESIGNS----------------------------------- */

.header-border-box {
    border-color: rgb(150, 81, 35);
    border-width: thick;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: ridge;
}

.footer-border-box {
    border-color: rgb(150, 81, 35);
    border-width: thick;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-style: ridge;
}

.border-box {
    background-color: rgb(244, 185, 107);
    box-shadow: 6px 6px rgb(161, 109, 67);
    border-color: rgb(194, 107, 48);
    border-width: thick;
    border-style: ridge;
}

.bare-border-box {
    box-shadow: 6px 6px rgb(161, 109, 67);
    border-color: rgb(194, 107, 48);
    border-width: thick;
    border-style: ridge;
}

.border-box-title {
    margin-bottom: 0;
    max-width: flex;
}

.border-box-footer {
    margin-bottom: 0;
    max-width: 120px;
}

/*-----------------------------------------BUTTONS--------------------------------------- */

.button-border-box {
    background-color: rgb(242, 148, 114);
    box-shadow: 6px 6px rgb(161, 109, 67);
    border-color: rgb(194, 107, 48);
    border-width: thick;
    border-style: ridge;
}

.button {
    color: rgb(143, 37, 42);
    padding: 8px 12px;
    display: inline-block;
    transition: 0.3s;
}

.active {
    background-color: rgb(253, 234, 199);
    color: rgb(221, 46, 55);
}

.button-bio {
    color: rgb(78, 40, 42);
    padding: 8px 12px;
    display: inline-block;
}

.button:hover {
    background-color: rgb(253, 234, 199);
    color: rgb(221, 46, 55);
}

/*Collapsible content HTML & CSS code sourced from "Expand Collapse Section using only HTML & CSS [No JavaScript]
by Frontend Guruji on YouTube
LINK TO VIDEO: https://youtu.be/2cPKsxJcF9Y
*/

/* Note to self: to make multiple labels, the ID in each must be different for each one*/

.accordian {
    background-color: rgb(242, 148, 114);
    box-shadow: 6px 6px rgb(161, 109, 67);
    border-color: rgb(194, 107, 48);
    border-width: thick;
    border-style: ridge;
}

.accordian div {
    height: 0;
    overflow: hidden;
    opacity: 0;
    font-size: 18px;
}

input {
    display: none;
}

label {
    display: block;
    cursor: pointer;
    padding: 10px 10px 10px 30px;
    position: relative;
    user-select: none;
}

label:before {
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(178, 47, 53);
    height: 0;
    font-size: 0;
    position: absolute;
    top: 18px;
    left: 10px;
    transition: transform 0.5s;
    transform-origin: 3px center;
}

input:checked~label:before {
    transform: rotate(90deg)
}

input:checked~div {
    padding: 10px;
    opacity: 1;
    height: auto;
}

/* --------------------------------------TYPOGRAPHY-------------------------------------- */

p {
    margin: 2%;
    text-indent: 2em;
}

.no-indent {
    text-indent: 0;
}

/* site title */
.title {
    color: white;
    font-size: 80px;
}

.subtitle {
    color: white;
}

/* page title */
h1 {
    font-family: 'Mansalva', cursive;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;

}

/* section titles */
h2 {
    font-family: 'Mansalva', cursive;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    padding: 0px 30px;
}

h3 {
    font-family: 'Mansalva', cursive;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}

a {
    color: rgb(178, 47, 53);
    font-family: 'Patrick Hand SC', cursive;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    transition: .5s;
}

a:hover {
    color: rgb(207, 73, 80)
}

.in-line-link {
    font-size: 30px;
    color: rgb(47, 178, 58);
}

.in-line-link:hover {
    color: rgb(19, 72, 24);
}

/*--------------------------------------GRID---------------------------------------*/

.homepage-content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
}

.profiles-content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8%;
}

.calendar-content-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 2%;
    align-items: center;
}

.points-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
}

.gifts-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 2%;
    text-indent: 0;
}

@media screen and (max-width:1200px) {
    .calendar-content-grid {

        grid-template-columns: 1fr;

    }
}

@media screen and (max-width:1016px) {

    html,
    body {
        font-size: 22px;
    }

    .title {
        font-size: 60px;
    }

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }

    .in-line-link {
        font-size: 20px;
    }

    label {
        padding: 10px 10px 10px 30px;
    }

    .logo {
        min-width: 240px;
        height: auto;
        width: 50%;
    }

    .avatar {
        height: auto;
        width: 35%;
    }

    .homepage-background {
        min-height: 50vh;
    }

    .profiles-content-grid {
        grid-template-columns: repeat(2, 1fr);
    }


    .footer-grid {
        grid-template-columns: 1fr;
    }

    .points-content-grid {

        grid-template-columns: 1fr;

    }

    .gifts-content-grid {

        grid-template-columns: 1fr;
        margin-bottom: 50px;
        ;

    }
}

@media screen and (max-width:780px) {


    .homepage-content-grid {
        grid-template-columns: 1fr;
    }

    a {
        font-size: 15px;
    }

}

@media screen and (max-width:697px) {

    .wrapper {
        padding: 20px 40px;
    }

    .resized {
        width: 50%;
    }


    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 20px;
    }

    h1 {
        font-size: 25px;
    }

    .profiles-content-grid {
        grid-template-columns: 1fr;

    }

    .headerflex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        flex-flow: row wrap;
    }

    a {
        font-size: 10px;
    }

    .button {
        padding: 8px 6px;
    }

}